theano==1.0.3 
numpy==1.16.4 
scipy==1.3.0
sklearn==0.0 
deepchem 
torch==1.4.0 
torchvision==0.5.0 
torchtext==0.5.0
torch-geometric 
torch-sparse==latest+cu101
torch-scatter==latest+cu101 
torch-cluster==latest+cu101
torch-spline-conv==latest+cu101
rdkit-pypi==2021.3.1.5