body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
}
a {
  color: #29a8ff !important;
}
a:focus {
  text-decoration: none !important;
}