-ecorator==5.0.7
-ip==20.2.4
absl-py==0.12.0
aiohttp==3.7.4.post0
alabaster==0.7.12
albumentations==1.0.0
altair==4.1.0
anaconda-clean==1.0
anyio==3.1.0
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.2
argon2-cffi==20.1.0
arrow==1.1.0
asgiref==3.3.4
astor==0.8.1
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
atomsci-ampl==1.1.0
attrs==21.2.0
autopep8==1.5.4
babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
base58==2.1.0
binaryornot==0.4.4
black==20.8b1
bleach==3.3.0
blinker==1.4
bokeh==2.3.2
bravado-core==5.17.0
bravado==11.0.3
brotlipy==0.7.0
cachetools==4.2.2
certifi==2020.6.20
cffi==1.14.5
chardet==3.0.4
chemprop==1.3.0
click==7.1.2
cloudpickle==1.6.0
colorcet==2.0.6
conda-package-handling==1.7.3
conda==4.10.1
configparser==5.0.2
cookiecutter==1.7.3
cryptography==3.4.7
cycler==0.10.0
dask==2021.6.0
dataclasses==0.6
datashader==0.12.1
datashape==0.5.2
decorator==4.4.2
deepchem==2.6.0.dev20210505221048
defusedxml==0.7.1
diff-match-patch==20200713
distributed==2021.6.0
docker-pycreds==0.4.0
docutils==0.16
entrypoints==0.3
fastapi==0.52.0
fastcore==1.3.20
flake8==3.8.4
flask==1.1.2
flatbuffers==1.12
fsspec==2021.6.0
future==0.18.2
gast==0.3.3
gitdb==4.0.7
gitpython==3.1.17
google-auth-oauthlib==0.4.4
google-auth==1.30.0
google-pasta==0.2.0
gql==0.2.0
graphql-core==1.1
greenlet==1.1.0
grpcio==1.32.0
h11==0.9.0
h5py==2.10.0
heapdict==1.0.1
helpdev==0.7.1
holoviews==1.14.4
httptools==0.1.2
hyperopt==0.2.5
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.4.0
iniconfig==1.1.1
intervaltree==3.1.0
invoke==1.5.0
ipykernel==5.5.5
ipython-genutils==0.2.0
ipython==7.24.0
ipywidgets==7.6.3
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
jinja2-time==0.2.0
jinja2==2.11.3
joblib==1.0.1
json5==0.9.5
jsonpointer==2.1
jsonref==0.2
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.8.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.6.0
jupyterlab-widgets==1.0.0
jupyterlab==3.0.16
keras-preprocessing==1.1.2
keyring==21.5.0
kiwisolver==1.3.1
kora==0.9.19
lazy-object-proxy==1.4.3
llvmlite==0.36.0
locket==0.2.1
mangum==0.11.0
markdown==3.3.4
markupsafe==1.1.1
matplotlib-inline==0.1.2
matplotlib==3.4.2
mccabe==0.6.1
mistune==0.8.4
mols2grid==0.0.6
molvs==0.1.1
monotonic==1.6
more-itertools==8.8.0
motor==2.4.0
msgpack==1.0.2
multidict==5.1.0
multipledispatch==0.6.0
mypy-extensions==0.4.3
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
neural-rock==0.0.0
nglview==3.0.1
notebook==6.4.0
numba==0.53.1
numpy==1.19.5
numpydoc==1.1.0
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
openai==0.2.4
opencv-python-headless==4.5.2.54
opt-einsum==3.3.0
packaging==20.9
pandas-flavor==0.2.0
pandas==1.2.4
pandocfilters==1.4.2
panel==0.11.3
param==1.10.1
parso==0.7.0
partd==1.2.0
pathspec==0.8.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.2.0
pip==21.1.2
pluggy==0.13.1
poyo==0.5.0
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.18
protobuf==3.16.0
psutil==5.8.0
ptyprocess==0.7.0
py3dmol==0.9.1
py==1.10.0
pyarrow==4.0.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycairo==1.20.1
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pyct==0.4.8
pydantic==1.8.2
pydeck==0.6.2
pydeprecate==0.3.0
pydocstyle==5.1.1
pyflakes==2.2.0
pygments==2.9.0
pylint==2.5.3
pyls-black==0.4.6
pyls-spyder==0.3.0
pymongo==3.11.4
pyobjc-core==7.0.1
pyobjc-framework-accessibility==7.0.1
pyobjc-framework-accounts==7.0.1
pyobjc-framework-addressbook==7.0.1
pyobjc-framework-adsupport==7.0.1
pyobjc-framework-applescriptkit==7.0.1
pyobjc-framework-applescriptobjc==7.0.1
pyobjc-framework-applicationservices==7.0.1
pyobjc-framework-apptrackingtransparency==7.0.1
pyobjc-framework-authenticationservices==7.0.1
pyobjc-framework-automaticassessmentconfiguration==7.0.1
pyobjc-framework-automator==7.0.1
pyobjc-framework-avfoundation==7.0.1
pyobjc-framework-avkit==7.0.1
pyobjc-framework-businesschat==7.0.1
pyobjc-framework-calendarstore==7.0.1
pyobjc-framework-callkit==7.0.1
pyobjc-framework-cfnetwork==7.0.1
pyobjc-framework-classkit==7.0.1
pyobjc-framework-cloudkit==7.0.1
pyobjc-framework-cocoa==7.0.1
pyobjc-framework-collaboration==7.0.1
pyobjc-framework-colorsync==7.0.1
pyobjc-framework-contacts==7.0.1
pyobjc-framework-contactsui==7.0.1
pyobjc-framework-coreaudio==7.0.1
pyobjc-framework-coreaudiokit==7.0.1
pyobjc-framework-corebluetooth==7.0.1
pyobjc-framework-coredata==7.0.1
pyobjc-framework-corehaptics==7.0.1
pyobjc-framework-corelocation==7.0.1
pyobjc-framework-coremedia==7.0.1
pyobjc-framework-coremediaio==7.0.1
pyobjc-framework-coremidi==7.0.1
pyobjc-framework-coreml==7.0.1
pyobjc-framework-coremotion==7.0.1
pyobjc-framework-coreservices==7.0.1
pyobjc-framework-corespotlight==7.0.1
pyobjc-framework-coretext==7.0.1
pyobjc-framework-corewlan==7.0.1
pyobjc-framework-cryptotokenkit==7.0.1
pyobjc-framework-devicecheck==7.0.1
pyobjc-framework-dictionaryservices==7.0.1
pyobjc-framework-discrecording==7.0.1
pyobjc-framework-discrecordingui==7.0.1
pyobjc-framework-diskarbitration==7.0.1
pyobjc-framework-dvdplayback==7.0.1
pyobjc-framework-eventkit==7.0.1
pyobjc-framework-exceptionhandling==7.0.1
pyobjc-framework-executionpolicy==7.0.1
pyobjc-framework-externalaccessory==7.0.1
pyobjc-framework-fileprovider==7.0.1
pyobjc-framework-fileproviderui==7.0.1
pyobjc-framework-findersync==7.0.1
pyobjc-framework-fsevents==7.0.1
pyobjc-framework-gamecenter==7.0.1
pyobjc-framework-gamecontroller==7.0.1
pyobjc-framework-gamekit==7.0.1
pyobjc-framework-gameplaykit==7.0.1
pyobjc-framework-imagecapturecore==7.0.1
pyobjc-framework-imserviceplugin==7.0.1
pyobjc-framework-inputmethodkit==7.0.1
pyobjc-framework-installerplugins==7.0.1
pyobjc-framework-instantmessage==7.0.1
pyobjc-framework-intents==7.0.1
pyobjc-framework-iosurface==7.0.1
pyobjc-framework-ituneslibrary==7.0.1
pyobjc-framework-kernelmanagement==7.0.1
pyobjc-framework-latentsemanticmapping==7.0.1
pyobjc-framework-launchservices==7.0.1
pyobjc-framework-libdispatch==7.0.1
pyobjc-framework-linkpresentation==7.0.1
pyobjc-framework-localauthentication==7.0.1
pyobjc-framework-mapkit==7.0.1
pyobjc-framework-mediaaccessibility==7.0.1
pyobjc-framework-medialibrary==7.0.1
pyobjc-framework-mediaplayer==7.0.1
pyobjc-framework-mediatoolbox==7.0.1
pyobjc-framework-metal==7.0.1
pyobjc-framework-metalkit==7.0.1
pyobjc-framework-metalperformanceshaders==7.0.1
pyobjc-framework-metalperformanceshadersgraph==7.0.1
pyobjc-framework-mlcompute==7.0.1
pyobjc-framework-modelio==7.0.1
pyobjc-framework-multipeerconnectivity==7.0.1
pyobjc-framework-naturallanguage==7.0.1
pyobjc-framework-netfs==7.0.1
pyobjc-framework-network==7.0.1
pyobjc-framework-networkextension==7.0.1
pyobjc-framework-notificationcenter==7.0.1
pyobjc-framework-opendirectory==7.0.1
pyobjc-framework-osakit==7.0.1
pyobjc-framework-oslog==7.0.1
pyobjc-framework-passkit==7.0.1
pyobjc-framework-pencilkit==7.0.1
pyobjc-framework-photos==7.0.1
pyobjc-framework-photosui==7.0.1
pyobjc-framework-preferencepanes==7.0.1
pyobjc-framework-pushkit==7.0.1
pyobjc-framework-quartz==7.0.1
pyobjc-framework-quicklookthumbnailing==7.0.1
pyobjc-framework-replaykit==7.0.1
pyobjc-framework-safariservices==7.0.1
pyobjc-framework-scenekit==7.0.1
pyobjc-framework-screensaver==7.0.1
pyobjc-framework-screentime==7.0.1
pyobjc-framework-scriptingbridge==7.0.1
pyobjc-framework-searchkit==7.0.1
pyobjc-framework-security==7.0.1
pyobjc-framework-securityfoundation==7.0.1
pyobjc-framework-securityinterface==7.0.1
pyobjc-framework-servicemanagement==7.0.1
pyobjc-framework-social==7.0.1
pyobjc-framework-soundanalysis==7.0.1
pyobjc-framework-speech==7.0.1
pyobjc-framework-spritekit==7.0.1
pyobjc-framework-storekit==7.0.1
pyobjc-framework-syncservices==7.0.1
pyobjc-framework-systemconfiguration==7.0.1
pyobjc-framework-systemextensions==7.0.1
pyobjc-framework-uniformtypeidentifiers==7.0.1
pyobjc-framework-usernotifications==7.0.1
pyobjc-framework-usernotificationsui==7.0.1
pyobjc-framework-videosubscriberaccount==7.0.1
pyobjc-framework-videotoolbox==7.0.1
pyobjc-framework-virtualization==7.0.1
pyobjc-framework-vision==7.0.1
pyobjc-framework-webkit==7.0.1
pyobjc==7.0.1
pyopenssl==20.0.1
pyparsing==2.4.7
pyqt5-sip==12.8.1
pyqt5==5.12.3
pyqtwebengine==5.12.1
pyrsistent==0.17.3
pysocks==1.7.1
pytest==5.4.1
python-dateutil==2.8.1
python-dotenv==0.14.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-slugify==5.0.2
pytorch-lightning==1.3.4
pytz==2021.1
pyviz-comms==2.0.1
pywavelets==1.1.1
pyyaml==5.4.1
pyzmq==22.1.0
qdarkstyle==2.8.1
qtawesome==1.0.2
qtconsole==5.0.1
qtpy==1.9.0
rdkit-pypi==2021.3.1.5
regex==2020.11.13
reportlab==3.5.67
requests-oauthlib==1.3.0
requests==2.24.0
rfc3987==1.3.8
rope==0.18.0
rsa==4.7.2
ruamel-yaml-conda==0.15.80
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
selfies==1.0.4
send2trash==1.5.0
sentencepiece==0.1.95
sentry-sdk==1.1.0
setuptools==57.0.0
shortuuid==1.0.1
simplejson==3.17.2
six==1.15.0
sklearn==0.0
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcontainers==2.3.0
sphinx==3.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder-kernels==1.10.1
spyder==4.2.1
sqlalchemy==1.4.17
starlette==0.13.2
streamlit==0.82.0
strict-rfc3339==0.7
style==1.1.0
subprocess32==3.5.4
swagger-spec-validator==2.7.3
tblib==1.7.0
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.0
tensorboard==2.4.1
tensorboardx==2.3
tensorflow-estimator==2.4.0
tensorflow==2.4.0
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.0
theano==1.0.3
threadpoolctl==2.1.0
three-merge==0.1.1
tifffile==2021.6.6
toml==0.10.2
toolz==0.11.1
torch==1.9.0
torchmetrics==0.3.2
torchtext==0.5.0
torchvision==0.5.0
tornado==6.1
tqdm==4.61.0
traitlets==5.0.5
typed-argument-parser==1.7.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
typing-inspect==0.7.1
tzlocal==2.1
ujson==4.0.1
umap==0.1.1
update==0.0.1
urllib3==1.25.11
uvicorn==0.11.3
uvloop==0.15.2
validators==0.18.2
wandb==0.8.34
watchdog==1.0.2
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
werkzeug==1.0.1
wheel==0.36.2
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.0.1
xarray==0.18.2
xlrd==2.0.1
yapf==0.30.0
yarl==1.6.3
zict==2.0.0
zipp==3.4.1